:host {
    @media (max-width: 480px) {
        display: flex;
        flex-direction: column;
        margin-top: -24px;
        height: calc(100svh - 89px);
        gap: 8px;
        .ship-container {
            flex-basis: 30%;
            display: flex;
            justify-content: space-between;
            .ship-image-container {
              flex-basis: 66%;
              background-color: #000000;
              border-radius: 4px;
              display: flex;
              img {
                width: 100%;
                align-self: center;
              }
            }
            .bars {
              display: flex;
              flex-direction: row;
              gap: 8px;
              height: calc(100% - 16px);
              flex-basis: 30%;
            }
          }
    }
    

    .actions-container {
        flex-basis: 40%;
        display: flex;
        flex-direction: column;
        gap: 8px;
        justify-content: space-between;
        .info-row {
          display: flex;
          flex-direction: row;
          gap: 4px;
          .turn-container {
            flex-basis: 40%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .turn-count {
              line-height: 20px;
            }
            .money-count {
              font-size: 12px;
              line-height: 12px;
              color: #FFC701;
            }
          }
          .evade.button {
            flex-basis: 40%;
            border: 1px solid #D74CEE;
            border-radius: 2px;
            color: #D74CEE;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 4px;
            .counter {
              font-size: 12px;
            }
          }
          .info.button {
            flex-basis: 20%;
            background-color: #0A252A;
          }
        }
        .dices-row {
          display: flex;
          gap: 16px;
          flex-wrap: wrap;
          img {
            width: calc(calc(100% - 64px) / 5);
            height: fit-content;
          }
          .locked {
            border-radius: 4px;
            box-shadow: 0px 0px 0px 4px #83989C;
          }
          .dice:hover {
            cursor: pointer;
          }
        }
        .action-row {
          display: flex;
          flex-direction: row;
          gap: 8px;
          .reroll.button {
            flex-basis: 50%;
            background-color: #0A252A;
          }
          .turn.button {
            flex-basis: 50%;
            color: white;
            background-color: #FF3939;
          }
        }
        .button {
          text-align: center;
          border-radius: 4px;
        }
        .button.locked {
          background-color: black;
        }
        .button:hover:not(.locked) {
          cursor: pointer;
        }
    }
}    
