:host {
    @media (max-width: 480px) {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow-x: auto;
        margin-top: -24px;
        height: calc(100svh - 89px);
        width: calc(100svw - 32px);
        gap: 16px;
        .ship-container {
            flex: 0 0 calc(100% - 16px); // Makes each .ship-container take up 100% of the .host width
            background-color: #0A252A;
            padding: 8px;
            border-radius: 4px;
            display: flex;
            flex-direction: column;
            .ship-image-container {
                flex-basis: 40%;
                background-color: #000000;
                border-radius: 4px;
                display: flex;
                img {
                    width: 100%;
                    align-self: center;
                }
            }

            .button {
                align-self: end;
            }
        }
    }    
}    
